*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin:0;
    background-color: peru;
}


.grid-calculator{

    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);

}


.grid-calculator> button {
    cursor:pointer;
  font-size: 2rem;
  border: 1px solid white;
  color:black;
  background-color: white;
}


.grid-calculator> button:hover {
    background-color: peru;
}


.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    color:white;
    flex-direction: column;
    justify-content: space-between;
    padding:15px;


}


.output .previousNum{
    color:grey;
    font-size: 1.5rem;
}

.output .currentsNum{
    color:white;
    font-size: 2.5rem;
}


.imgBackground{
    width: 400px;
    height: 30px;
}